{% extends 'base.html' %}

{% block scripts %}
{{ super() }}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
{% endblock scripts %}

{% block app_content %}
<div class="body-container w-80">
    <article id="intro" class="">
        <div class="card my-4">
            <div class="card-header">
                <h1>Rosetta on Chain</h1>
            </div>
            <div class="card-body text-center mb-4">
                <p class="card-text">
                    Throughout human history, people try to make long-lasting records of important messages: knots, 
                    engravings, books, disks. Leaving messages for the future is a core value of humanity, yet none 
                    of the attempts succeeds.
                </p>
                <p class="card-text">
                    Blockchain is a breakthrough in human recording technologies. With the aid of it, a new way to 
                    store critical information is found. Rosetta on Chain is an interface built on top of a set of 
                    algorithms residing on a public blockchain, that saves messages of yours on a publicly owned 
                    domain. This makes the data you upload to be imperishable... as long as the Internet stands.        
                </p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h2>How does it work?</h2>
            </div>
            <div class="card-body text-center mb-4">
                <p class="card-text">
                    Rosetta on Chain is a prototype of a new form of data storage. It is not only a web application. 
                    It interacts with a publicly owned set of algorithms on a blockchain that does no more than 
                    storing and serving data its users upload. It ensures that all the messages from the users are 
                    kept original and untouched.
               </p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h2>What Blockchain really is? How does it help?</h2>
            </div>
            <div class="card-body text-center">
                <p class="card-text">
                    Blockchain is a kind of computer networks that collaborates in as swarm intelligence. That means 
                    every worker in the network plays an equal role and there is no centre of the network. In the use 
                    of data storage, it means that the data stored on it is securely distributed. Every bit of data 
                    will remain permanent and immutable as long as the blockchain survives.
                </p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h2>What purpose is this of?</h2>
            </div>
            <div class="card-body p-2">
                <p class="card-text">
                    Rosetta on Chain is a perfect solution for leaving important messages to the public, as your 
                    announcements will not be altered, censored or perished. Rosetta on Chain also ensures wide reach 
                    of your messages since it in default broadcasts every post to every user. The toll fee nature of 
                    blockchain systems also encourages users on Rosetta on Chain to put important messages on the 
                    blockchain, so you will not be flooded by insignificant daily posts.
                </p>
            </div>
        </div>
    </article>
</div>
{% endblock app_content %}