{% extends 'base.html' %}
{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="{{ url_for('static', filename='web3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='truffle-contract.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {{ moment.include_moment() }}
{% endblock scripts %}

{% block app_content %}

<div class="row">
    <div class="col-my-5">
        <h5>Create a post</h5>
        <textarea id="newPostText" rows="4" cols="50"></textarea><br>
        <button class="btn btn-default btn-air" type="button">Upload</button>
    </div>
</div>

{% include 'postwall/_postJS.html' %}

{% endblock app_content %}
