<!doctype html>
<html lang="en">
  <head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock styles %}

        {% block title %}
            <title>
                {% if title %}{{ title }}
                {% else %}The wall
                {% endif %}
            </title>
        {% endblock title %}

    {% endblock head%}
  </head>
  <body>    

    {% block navbar %}
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('landing') }}">The Wall</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('homepage') }}">Homepage</a></li>
                        <li class="nav-item"><a class="nav-link" id="link-profile" href="{{ url_for('user', address='0x0000000000000000000000000000000000000000') }}">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('documentation') }}">How to use</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock navbar %}

    {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {# application content are to be provided as block app_content #}
            {% block app_content %}
            
            {% endblock app_content %}
        </div>
    {% endblock content %}

    {% block scripts %}
        {{ bootstrap.load_js() }}
        {{ moment.include_moment() }}
    {% endblock scripts %}
  </body>
</html>

